
@mixin orderStatus {
    height: 40px;
    width: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}
.note {
    min-height: 100px;
    textarea {
        width: 100%;
        border: none;
        background: #eee;
        &:focus {
            box-shadow: none;
        }
    }
}
.order {
    position: relative;
    .order__text {
        // content: 'Đơn hàng';
        text-align: center;
        width: 100px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -70%);
        background: #fff;
        font-size: 1.2rem;
        color: #999999;
    }
}
.list-short {
    height: 290px;
    overflow: hidden;
}
.order__title-payment {
    background: #fff;
}
.order__title {
    border: 1px solid #fff;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s ease-out, background 0.1s;
    .order__title--status {
        margin: 3px;
    }
    .order__title--icon-status {
        width: 100vmin;
        img {
            float: right;
            vertical-align: inherit;
            transform: rotate(0deg);
            &:hover {
                transform: scale(1.2);
            }
        }
    }
    .order__title-arrow {
        width: 10px;
        height: 10px;
        -webkit-filter: invert(92%) sepia(40%) saturate(6%) hue-rotate(148deg) brightness(100%) contrast(98%);
        filter: invert(92%) sepia(40%) saturate(6%) hue-rotate(148deg) brightness(100%) contrast(98%);
    }
    img {
        width: 15px;
        height: 15px;
        transform: rotate(-90deg);
        margin-right: 7px;
        transition: transform 0.4s ease-out;
    }
    .edit {
        width: 17px;
        height: 17px;
        transform: rotate(360deg);
        opacity: 0;
        transition: all 0.2s;
    }
    &:hover {
        background: rgba(240, 240, 240, 0.865);
        transition: transform 0.15s, background 0.15s;
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
        border-radius: 8px;
        // -webkit-box-shadow: 0px 1px 3px rgba(126, 142, 177, 0.2);
        // box-shadow: 0px 1px 3px rgba(126, 142, 177, 0.2);
    }
    &:hover .edit {
        opacity: 1;
    }
}
.order__detail {
    margin-bottom: 10px;
    padding: 0 16px;
    .order__expand {
        margin: 0 4px;
        background: #fff;
        overflow: hidden;
        filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
        .order__expand--icon-new {
            margin-right: 8px;
        }
        .order__expand--icon-confirm,
        .order__expand--icon-cancel {
            margin: 0 8px;
        }
        .order__expand--icon-info {
            margin-right: 14px;
        }
        // > div {
        //     display: none !important;
        // }
    }
    .expand__border {
        border: 1px solid #dfe1e4;
        border-radius: 8px;
        .order__status--icon-arrow {
            transition: transform 0.25s ease-out !important;
            transform: rotate(-180deg) !important;
        }
    }
    .expand__hide {
        transition: height 0.25s ease-out;
        height: 0;
    }
    .expand__show--medium {
        transition: height 0.25s ease-out;
        height: 190px;
    }
    .expand__show--large {
        transition: height 0.25s ease-out;
        height: 222px;
    }
}

// .order__title.expand p {
//     color: #f8f9fa !important;
// }
.order__status--icon-arrow {
    transition: transform 0.25s ease-out;
    transform: rotate(0);
}
// .order__title.expand .order__status--icon-arrow {
//     transition: transform 0.25s ease-out !important;
//     transform: rotate(-180deg) !important;
// }
// .order__title.expand + .order__expand {
//     height: 190px;
//     border: 1px solid $colorNeutral18;
//     border-top: none;
//     border-radius: 0 0 4px 4px;
// }
// .order__title.expand .edit {
//     opacity: 1;
// }
// .order__list--filter {
//     text-align: right;

//     select {
//         outline: none;
//     }
// }
.order__expand {
    .order__detail--gateway {
        .order__detail--gateway-delivery {
            color: #025fe8;
            &:hover {
                cursor: pointer;
                color: #025fe8;
            }
        }
        img {
            opacity: 1;
        }
    }
    img {
        width: 15px;
        height: 15px;
        // filter: invert(53%) sepia(0%) saturate(1296%) hue-rotate(230deg) brightness(88%) contrast(94%);
        margin-right: 7px;
        opacity: 0.8;
    }
    .order__status img:first-child,
    .process img:first-child {
        position: relative;
        // left: -2.5px;
    }
    .process {
        user-select: none;
        pointer-events: none;
        padding: 12px 16px 8px 16px;
        img,
        p {
            cursor: pointer;
        }
        img.active {
            filter: invert(31%) sepia(33%) saturate(4996%) hue-rotate(207deg) brightness(98%) contrast(103%);
        }
        img.cancelled {
            filter: invert(28%) sepia(66%) saturate(2417%) hue-rotate(334deg) brightness(90%) contrast(91%);
        }
        .process__poiter--events {
            pointer-events: auto;
            color: #025fe8;
        }
        &.pro-confirmed p:first-of-type,
        &.pro-cancelled p:first-of-type {
            color: #212529 !important;
        }
        &.pro-confirmed img:first-of-type,
        &.pro-cancelled img:first-of-type {
            filter: none;
        }
    }
    .order__expand--content {
        padding: 16px 0 0 18px;
    }
}
.more {
    position: fixed;
    bottom: 0;
    padding-bottom: 10px;
    background: #fff;
    left: 0;
    right: 0;
    cursor: pointer;
    img {
        width: 20px;
        height: 15px;
        opacity: 0.6;
    }
}

.order__status--icon-draft {
    @include orderStatus;
    background: $colorNeutral18;
}
.order__status--icon-new {
    @include orderStatus;
    background: rgba(242, 201, 76, 0.1);
}
.order__status--icon-out_stock {
    @include orderStatus;
    background: rgba(86, 204, 242, 0.1);
}
.order__status--icon-confirmed {
    @include orderStatus;
    background: rgba(39, 174, 96, 0.1);
}
.order__status--icon-deliver {
    @include orderStatus;
    background: rgba(47, 128, 237, 0.1);
}
.order__status--icon-return {
    @include orderStatus;
    background: rgba(187, 107, 217, 0.1);
}
.order__status--icon-success {
    @include orderStatus;
    background: rgba(33, 150, 83, 0.1);
}
.order__status--icon-returned {
    @include orderStatus;
    background: rgba(155, 81, 224, 0.1);
}
.order__status--icon-cancel {
    @include orderStatus;
    background: rgba(235, 87, 87, 0.1);
}
.order__status--icon-remove {
    @include orderStatus;
    background: $colorNeutral;
}
