<div class="list">
    <div class="order mt-3 mb-5">
        <div class="order__text">Đơn hàng</div>

        <!-- Lọc đơn -->
        <div class="order__list--filter">
            <select v-model="order_filter">
                <option value="">Lọc đơn</option>
                <option value="">Order</option>
                <option value="">ShipCod</option>
                <option value="">Gateway</option>
            </select>
        </div>
        <!-- Danh sách đơn hàng -->
        <div v-if="list_order.length == 0" style="text-align:center;padding-top:10%;">Bạn chưa có đơn hàng!</div>
        <div v-for="(item, ind) in list_order" class="order-detail" :key="ind">

            <!-- Tiêu đề đơn hàng-->
            <!-- <div class="order-title d-flex align-items-center border rounded"
               :class="{ confirmed: isActiveConfirm(item), cancelled: isCancelled(item) }"
               @click="handleClickOrder(ind)">
                <img src="https://img.icons8.com/ios-filled/50/000000/expand-arrow.png"/>
                <p class="text-dark m-0" >000{{ind + 1}}</p>
                <img v-if="ableEdit(item)" class="edit ml-auto"
                   src="https://img.icons8.com/material/48/000000/edit--v1.png"
                   @click.stop="handleClickEdit(item)"/>
            </div> -->
            <div class="order-title d-flex align-items-center border rounded"
                :class="{ 'order-title-gateway':changeClassGateway(item),'order-title-cod':changeClassCod(item), 'order-title-normal':changeClassNormal(item)}"
                @click="handleClickOrder(ind)">
                <img src="https://img.icons8.com/ios-filled/50/000000/expand-arrow.png" />
                <p class="text-dark m-0">000{{ind + 1}}</p>
                <img v-if="ableEdit(item)" class="edit ml-auto"
                    src="https://img.icons8.com/material/48/000000/edit--v1.png" @click.stop="handleClickEdit(item)" />
                <div class="order__title--icon-status"
                    v-if="(item.is_cod&&item.delivery_status=='Đã chọn giao vận. Chưa tạo đơn.')||(item.is_gateway&&item.payment_status=='Đã chọn cổng thanh toán. Chưa tạo đơn.')||(item.is_gateway&&item.is_cod&&item.delivery_status!='Đã tạo đơn giao vận.')">
                    <img class="" src="@/assets/error.png" title="Đơn lỗi" />
                </div>
                <div class="order__title--icon-status"
                    v-if="item.is_gateway&&!item.is_cod&&(item.payment_status=='Đã tạo đơn. Đang chờ thanh toán'||item.payment_status== 'Đang chờ thanh toán. Giao dịch thanh toán bị Review!')">
                    <img class="" src="@/assets/timer.png" title="Chưa thanh toán" />
                    <img v-if="item.payment_status== 'Đang chờ thanh toán. Giao dịch thanh toán bị Review!'"
                        src="@/assets/review.png" alt="" title="Đã xem giao dịch">
                </div>
            </div>
            <!-- Đơn hàng mở rộng -->
            <div class="order-expand">
                <div class="status d-flex align-items-center">
                    <img v-if="isUnconfirm(item)" src="https://img.icons8.com/windows/26/000000/star.png" />
                    <img v-if="isActiveConfirm(item)" src="https://img.icons8.com/windows/32/000000/checked.png" />
                    <img v-if="item.status === 'cancelled'" src="https://img.icons8.com/windows/32/000000/cancel.png" />
                    <p v-if="isUnconfirm(item)" class="m-0">Mới</p>
                    <p v-if="isActiveConfirm(item)" class="m-0 text-primary">Đã xác nhận</p>
                    <p v-if="item.status === 'cancelled'" class="m-0">Huỷ</p>
                </div>
                <div class="phone d-flex align-items-center">
                    <img src="https://img.icons8.com/windows/32/000000/phone.png" />
                    <p class="text-primary m-0">{{item.customer_phone}}</p>
                </div>
                <div class="create d-flex align-items-center">
                    <img src="https://img.icons8.com/android/24/000000/clock.png" />
                    <p class="m-0">Tạo lúc: {{computeTime(item.createdAt)}}</p>
                </div>
                <div class="update d-flex align-items-center">
                    <img src="https://img.icons8.com/android/24/000000/clock.png" />
                    <p class="m-0">Cập nhật TT: {{computeTime(item.updatedAt)}}</p>
                </div>
                <!-- trạng thái order ship cod -->
                <div v-if="item.is_cod">
                    <div class="d-flex align-items-center"
                        v-if="!item.is_gateway&&item.delivery_status=='Đã tạo đơn giao vận.'">
                        <img src="@/assets/tick.png" title="Thành công" />
                        <div>Đã giao vận</div>
                    </div>
                    <div class="d-flex" v-if="item.delivery_status=='Đã chọn giao vận. Chưa tạo đơn.'">
                        <img src="@/assets/error.png" alt="">
                        <div>Giao vận lỗi</div>
                    </div>
                </div>
                <!-- trạng thái order gateway -->
                <div class="order__detail--gateway d-flex align-items-center" v-if="item.is_gateway">
                    <div class="d-flex"
                        v-if="item.payment_status=='Đã tạo đơn. Đang chờ thanh toán'||item.payment_status== 'Đang chờ thanh toán. Giao dịch thanh toán bị Review!'">
                        <img src="@/assets/waiting.png" />
                        <div>Chờ thanh toán</div>
                    </div>
                    <div class="d-flex" v-if="item.payment_status=='Thanh toán thành công.'">
                        <img src="@/assets/tick.png" title="Thành công" />
                        <div>Thanh toán</div>
                    </div>
                    <div class="d-flex" v-if="item.payment_status=='Thanh toán thành công.'">
                        <img src="https://img.icons8.com/ios-filled/24/000000/more-than.png" />
                        <div class="d-flex" v-if="item.is_cod&&item.delivery_status=='Đã tạo đơn giao vận.'">
                            <img src="@/assets/tick.png" alt="">
                            <div>Giao vận</div>
                        </div>
                        <div class="d-flex" v-if="item.is_cod&&item.delivery_status!='Đã tạo đơn giao vận.'">
                            <img src="@/assets/error.png" alt="">
                            <div>Giao vận lỗi</div>
                        </div>
                    </div>
                </div>
                <!-- Tiến trình đơn hàng -->
                <div class="process d-flex align-items-center"
                    :class="{ 'pro-confirmed': isActiveConfirm(item), 'pro-cancelled': isCancelled(item)} ">
                    <img class="active" src="https://img.icons8.com/windows/26/000000/star.png" />
                    <p class="m-0 text-primary">Mới</p>
                    <img src="https://img.icons8.com/ios-filled/24/000000/more-than.png" />
                    <img :class="{ active: isActiveConfirm(item) }"
                        src="https://img.icons8.com/windows/32/000000/checked.png"
                        @click="handleUpdateOrder('confirmed', item, ind)" />
                    <p :class="{ 'text-primary': isActiveConfirm(item) }" class="m-0"
                        @click="handleUpdateOrder('confirmed', item, ind)">Xác nhận</p>
                    <img src="https://img.icons8.com/ios-filled/24/000000/more-than.png" />
                    <img :class="{ cancelled: isCancelled(item)}"
                        src="https://img.icons8.com/windows/32/000000/cancel.png"
                        @click="handleUpdateOrder('cancelled', item, ind)" />
                    <p class="m-0" :class="{ 'text-danger': isCancelled(item)}"
                        @click="handleUpdateOrder('cancelled', item, ind)">Huỷ</p>
                </div>
                <!--  -->

            </div>
            <!-- -->

        </div>
        <!--  -->

    </div>
    <div class="more d-flex justify-content-center" @click="handleGetMoreOrder()">
        <img src="https://img.icons8.com/ios-filled/50/000000/expand-arrow.png" />
    </div>
</div>