$colorConfirm: #348458;
$colorCancel: #ed5a29;

.list {
    padding: 1rem;
}
.note {
    min-height: 100px;
    textarea {
        width: 100%;
        border: none;
        background: #eee;
        &:focus {
            box-shadow: none;
        }
    }
}
.order {
    border-top: 2px solid #eee;
    position: relative;
    padding-top: 1rem;
    .order__text {
        // content: 'Đơn hàng';
        text-align: center;
        width: 100px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -70%);
        background: #fff;
        font-size: 1.2rem;
        color: #999999;
    }
}
.order__title-payment {
    background: #fff;
}
.order__title {
    user-select: none;
    padding: 2px;
    cursor: pointer;
    border: 2px solid #dee2e6 !important;
    transition: all 0.3s ease-out, background 0.1s;
    .order__title--icon-status {
        width: 100vmin;
        img {
            float: right;
            vertical-align: inherit;
            transform: rotate(0deg);
        }
    }
    .order__title-arrow {
        width: 10px;
        height: 10px;
        -webkit-filter: invert(92%) sepia(40%) saturate(6%) hue-rotate(148deg) brightness(100%) contrast(98%);
        filter: invert(92%) sepia(40%) saturate(6%) hue-rotate(148deg) brightness(100%) contrast(98%);
    }
    img {
        width: 17px;
        height: 17px;
        transform: rotate(-90deg);
        margin-right: 7px;
        transition: transform 0.4s ease-out;
    }
    p {
        font-size: 0.9rem;
        font-weight: 500;
    }
    .edit {
        width: 17px;
        height: 17px;
        transform: rotate(360deg);
        opacity: 0;
        transition: all 0.2s;
    }
    &:hover {
        background: #eeec;
        transition: transform 0.15s, background 0.15s;
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
        -webkit-box-shadow: 0px 1px 3px rgba(126, 142, 177, 0.2);
        box-shadow: 0px 1px 3px rgba(126, 142, 177, 0.2);
    }
    &:hover .edit {
        opacity: 1;
    }
}
.order__detail {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    .order__expand {
        height: 0;
        transition: height 0.25s ease-out;
        background: #fff;
        overflow: hidden;
        > div {
            display: none !important;
        }
    }
}

.label-draft-order {
    background: #a3a3a3;
    border: 2px solid #a3a3a3 !important;
    &:hover {
        background: #a3a3a3;
    }
}
.label-new-order {
    background: rgb(0, 162, 174);
    border: 2px solid rgb(0, 162, 174) !important;
    &:hover {
        background: rgb(0, 162, 174);
    }
}
.label-out-stock {
    background: rgb(180, 159, 9);
    border: 2px solid rgb(180, 159, 9) !important;
    &:hover {
        background: rgb(180, 159, 9);
    }
}
.label-confirm-order {
    background: rgb(16, 142, 233);
    border: 2px solid rgb(16, 142, 233) !important;
    &:hover {
        background: rgb(16, 142, 233);
    }
}
.label-deliver-order {
    background: rgb(247, 142, 61);
    border: 2px solid rgb(247, 142, 61) !important;
    &:hover {
        background: rgb(247, 142, 61);
    }
}
.label-return-order {
    background: rgb(254, 76, 76);
    border: 2px solid rgb(254, 76, 76) !important;
    &:hover {
        background: rgb(254, 76, 76);
    }
}
.label-success-order {
    background: rgb(61, 189, 125);
    border: 2px solid rgb(61, 189, 125) !important;
    &:hover {
        background: rgb(61, 189, 125);
    }
}
.label-returned-order {
    background: rgb(215, 19, 0);
    border: 2px solid rgb(215, 19, 0) !important;
    &:hover {
        background: rgb(215, 19, 0);
    }
}
.label-cancel-order {
    background: rgb(50, 47, 47);
    border: 2px solid rgb(50, 47, 47) !important;
    &:hover {
        background: rgb(50, 47, 47);
    }
}
.label-remove-order {
    background: #000000;
    border: 2px solid #000000 !important;
    &:hover {
        background: #000000;
    }
}

.order__title-gateway {
    background: #e2d99f;
    border: 2px solid #e2d99f !important;
    &:hover {
        background: #e2d99f;
    }
}
.order__title-cod {
    background: #83d7bd;
    border: 2px solid #83d7bd !important;
    &:hover {
        background: #83d7bd;
    }
}
.order__title-normal {
    background: hsl(0, 0%, 86%);
    border: 2px solid hsl(0, 0%, 86%) !important;
    &:hover {
        background: hsl(0, 0%, 86%);
    }
}
.order__title-cancelled {
    background: #c26670;
    border: 2px solid #c26670 !important;
}

// .order__title.expand {
//     background: #a3a3a3;
//     border: 2px solid #a3a3a3 !important;
// }
.order__title.confirmed {
    background: #025fe8;
    border: 2px solid #025fe8 !important;
}
.order__title.cancelled {
    background: #dc3545;
    border: 2px solid #dc3545 !important;
}
.order__title.expand p,
.order__title.confirmed p,
.order__title.cancelled p {
    color: #f8f9fa !important;
}
.order__title.expand img:not(.edit) {
    transform: rotate(0);
}
.order__title.expand img,
.order__title.confirmed img,
.order__title.cancelled img {
    filter: invert(92%) sepia(40%) saturate(6%) hue-rotate(148deg) brightness(100%) contrast(98%);
}
.order__title.expand + .order__expand {
    height: 150px;
    font-size: 0.9rem;
    border: 2px solid #dee2e6;
    border-top: none;
    border-radius: 0 0 0.35rem 0.35rem;
    padding: 5px 10px 5px 30px;
    > div {
        margin-bottom: 5px;
        display: flex !important;
    }
}
.order__title.expand .edit {
    opacity: 1;
}
.order__list--filter {
    text-align: right;

    select {
        outline: none;
    }
}
.order__expand {
    .order__detail--gateway {
        .order__detail--gateway-delivery {
            color: #025fe8;
            &:hover {
                cursor: pointer;
                color: #025fe8;
            }
        }
        img {
            opacity: 1;
        }
    }
    img {
        width: 15px;
        height: 15px;
        // filter: invert(53%) sepia(0%) saturate(1296%) hue-rotate(230deg) brightness(88%) contrast(94%);
        margin-right: 7px;
        opacity: 0.8;
    }
    .order__status img:first-child,
    .process img:first-child {
        position: relative;
        left: -2.5px;
    }
    .phone img {
        width: 18px;
        height: 18px;
    }
    .create img,
    .update img {
        width: 15px;
        height: 15px;
    }
    .process {
        user-select: none;
        pointer-events: none;
        img,
        p {
            cursor: pointer;
        }
        img.active {
            filter: invert(31%) sepia(33%) saturate(4996%) hue-rotate(207deg) brightness(98%) contrast(103%);
        }
        img.cancelled {
            filter: invert(28%) sepia(66%) saturate(2417%) hue-rotate(334deg) brightness(90%) contrast(91%);
        }
        .process__poiter--events {
            pointer-events: auto;
            color: #025fe8;
        }
        &.pro-confirmed p:first-of-type,
        &.pro-cancelled p:first-of-type {
            color: #212529 !important;
        }
        &.pro-confirmed img:first-of-type,
        &.pro-cancelled img:first-of-type {
            filter: none;
        }
    }
}
.more {
    position: fixed;
    bottom: 0;
    padding-bottom: 10px;
    background: #fff;
    left: 0;
    right: 0;
    cursor: pointer;
    img {
        width: 30px;
        height: 20px;
        opacity: 0.6;
    }
}
