$colorSecond:#140F2D;
$colorNeutral38: #bcc0c6;
.app {
    overflow: hidden;
    position: relative;
}
.order__header{
    padding: 16px 12px 12px;
}
.order__customer {
    position: relative;
    padding: 0 12px;
    .order__option {
        margin: 8px 0;
        p{
            font-weight: 600;
        }
        .order__option--main {
            position: relative;
            .order__option--icon-shipcod {
                position: absolute;
                top: 50%;
            }
            .order__option--icon-payment {
                position: absolute;
                top: 70%;
            }
        }
    }
    .order__msg--edit {
        text-align: right;
        .order__msg--edit-icon {
            margin-bottom: 0.5rem;
            img {
                width: 27px;
                height: 27px;
                // position: absolute;
                top: 10px;
                right: 15px;
                cursor: pointer;
            }
        }
    }
    .show {
        height: initial;
    }
}

.order__product {
    padding: 0 12px;
    .option {
        border: 1px solid #79797940;
        border-radius: 5px;
        background: #00000005;
        img {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
        p {
            cursor: pointer;
        }
        .product__add,.product__note{
            &:hover{
                .icon__add{
                    transform:scale(1.1)
                }
            }
        }
    }
    .option,
    .form-group {
        height: 0;
        opacity: 0;
        margin: 0;
        transition: all 0.3s ease;
        button {
            font-weight: bold;
        }
    }
    .option,
    .show-note {
        height: initial;
        opacity: 1;

        textarea {
            margin: 1rem 0 1rem 0;
            height: 3rem;
        }
    }
    .form-group {
        .hide {
            display: none;
        }
    }
    .list-product {
        .product-detail {
            padding-top: 8px;
            position: relative;
            &:hover {
                transition: transform 0.15s, background 0.15s;
                -webkit-transform: scale(1.03);
                transform: scale(1.03);
                -webkit-box-shadow: 0px 1px 3px rgba(126, 142, 177, 0.2);
                box-shadow: 0px 1px 3px rgba(126, 142, 177, 0.2);
            }
            .quantity {
                width: 40px;
                height: 40px;
                p {
                    font-weight: 600;
                    margin: 0;
                    width: 15px;
                }
            }
            .price {
                font-weight: 600;
                p {
                    margin: 0;
                }
            }
            .edit {
                img {
                    width: 15px;
                    height: 15px;
                    cursor: pointer;
                    filter: invert(24%) sepia(80%) saturate(4235%) hue-rotate(342deg) brightness(96%) contrast(79%);
                }
            }
            .product-detail-name {
                max-width: 90px;
            }
            .name {
                max-width: 100%;
                overflow: hidden;
                max-height: 40px;
                text-overflow: ellipsis;
                white-space: nowrap;
                cursor: pointer;
            }
            img {
                width: 40px;
                height: 40px;
                border-radius: 4px;
            }
        }
    }
}

.order {
    background: #fff;
    left: 0;
    right: 0;
    bottom: 0;
}
.order button {
    font-weight: bold;
}

.popup {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 0;
    top: 100%;
    left: 0;
    background: #fff;
    overflow-y: scroll;
    .search {
        position: relative;
        width: 100%;
        margin: 30px 0 10px;
        margin-top: 30px;
        input {
            padding: 0 32px;
            &:focus {
                outline: none;
            }
        }
        img {
            position: absolute;
            width: 16px;
            height: 16px;
            left: 10px;
            top: 8px;
            filter: invert(48%) sepia(0%) saturate(21%) hue-rotate(179deg) brightness(108%) contrast(100%);
        }
    }
    .list-product {
        margin-bottom: 10px;
        max-height: calc(100% - 50px);
        overflow-y: scroll;
        position: relative;
        .product {
            position: relative;
            cursor: pointer;
            background: #fff;
            margin: 8px 0;
            &:hover{
                transition: transform 0.1s, background 0.1s;
                background: #f3f3f3;
                -webkit-transform: scale(1.03);
                transform: scale(1.03);
                -webkit-box-shadow: 0px 0px 3px rgba(126, 142, 177, 0.2);
                box-shadow: 0px 0px 3px rgba(126, 142, 177, 0.2);
            }
            img {
                width: 40px;
                height: 40px;
            }
        }
        .more {
            position: fixed;
            bottom: 0;
            padding-bottom: 10px;
            background: #fff;
            left: 0;
            right: 0;
            cursor: pointer;
            img {
                width: 30px;
                height: 20px;
                opacity: 0.6;
            }
        }
    }
}
.show-popup {
    transition: top 0.5s ease-out;
    height: 100vh;
    top: 0%;
    /* border: 1px solid; */
    border: 1px solid #F6F7F8;
    /* box-sizing: border-box; */
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    .close__search{
        top: 12px !important;
        right: 12px !important;
    }
    // margin: 0 21px;
}
.popup > div:first-child {
    padding: 12px;
}

.popup .list-product::-webkit-scrollbar {
    display: none;
}
.popup .list-product .product:last-child::after {
    content: "";
    width: 100%;
    height: 15vh;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    background: #fff;
}
.popup .product p:first-child {
    margin: 0;
}
.popup .product p:first-child + p {
    opacity: 0.6;
}
.popup .product p:last-child {
    font-weight: 600;
    margin: 0;
}
.order__info {
    position: fixed;
    z-index: 999;
    bottom: 13%;
    left: 0;
    height: 0;
    width: 100%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 20px 0 #0005;
    transition: bottom 0.3s ease-out;
    overflow: hidden;
    padding: 0;
    border-radius: 4px 4px 0 0;
    .close__order--info{
        top: 12px !important;
        right: 12px !important;
    }
    .order__info--title {
        margin: 1rem;
    }
    .order__info--title,
    .order__info--total-payment {
        font-size: 1rem;
        font-weight: 700;
    }
    .order__info--total-price,
    .order__info--shipping-fee {
        font-weight: 600;
    }
    p {
        text-align: center;
    }
    button {
        font-weight: bold;
    }
}
.close {
    position: absolute;
    background: $colorNeutral38;
    top: -10px;
    right: -7px;
    opacity: 1;
    border-radius: 50%;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        cursor: pointer;
        opacity: 1 !important;
        transform: scale(1.1);
    }
    &:focus {
        outline: none;
    }
    img {
        width: 6px;
        height: 6px;
    }
}
.order__info::-webkit-scrollbar {
    display: none;
}
.show-order-info {
    bottom: 0;
    max-height: 90vh;
    overflow-y: scroll;
    height: initial;
    opacity: 1;
    padding: 1rem;
}
.config {
    padding: 1rem;
}
.config button {
    font-weight: bold;
}
.order__option {
    input {
        width: auto;
        margin: 0;
    }
    img {
        height: 12px;
        width: 12px;
        &:hover {
            cursor: help;
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width:calc(100% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    .modal__btn--close {
        text-align: right;
        img {
            height: 20px;
            width: 20px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .modal__content {
        p {
            color: #ffffff;
            opacity: 1;
            font-size: 13px;
            text-align: center;
        }
    }
    .modal__msg {
        position: relative;
        background: #ffffff;
        color: #000000;
        width: 100%;
        margin: 9px;
        padding:0 12px 20px;
        border-radius: 4px;
        textarea {
            height: 50px;
        }
    }
}
