* {
    font-size: 0.9rem;
}
input,
textarea,
select {
    width: 100%;
    border: none;
    background: #eee;
    // border-radius: 1rem;
    // padding:0 10px 0 10px
}
input:focus,
textarea:focus,
select:focus {
    box-shadow: none;
    background: #eee;
}
option {
    background: #fff;
}

.app {
    overflow: hidden;
    position: relative;
}
.order__customer {
    position: relative;
    padding: 1rem;
    .order__title {
        margin-top: 0.5rem;
        font-size: 1rem;
        text-align: center;
    }
    .order__option {
        padding: 0 1rem;
        .order__option--main {
            position: relative;
            .order__option--icon-shipcod {
                position: absolute;
                top: 40%;
            }
            .order__option--icon-payment {
                position: absolute;
                top: 65%;
            }
            label {
                padding: 0 1rem;
            }
        }
    }
    .order__msg--edit {
        text-align: right;
        .order__msg--edit-icon {
            margin-bottom: 0.5rem;
            img {
                width: 27px;
                height: 27px;
                // position: absolute;
                top: 10px;
                right: 15px;
                cursor: pointer;
            }
        }
    }
    .show {
        height: initial;
    }
    p {
        font-weight: bold;
    }
    input,
    select {
        margin-bottom: 1rem;
    }
}

.order__product {
    padding: 0 1rem;
    margin-bottom: 9rem;
    .option {
        padding: 0.5rem;
        margin-bottom: 1rem;
        border: 1px solid #79797940;
        border-radius: 5px;
        background: #00000005;
        img {
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
        p {
            cursor: pointer;
        }
    }
    .option,
    .form-group {
        height: 0;
        opacity: 0;
        margin: 0;
        transition: all 0.3s ease;
        button {
            font-weight: bold;
        }
    }
    .option,
    .show-note {
        height: initial;
        opacity: 1;

        textarea {
            margin: 1rem 0 1rem 0;
            height: 3rem;
        }
    }
    .form-group {
        .hide {
            display: none;
        }
    }
    .list-product {
        // margin-bottom: 150px;
        font-size: 0.9rem;
        opacity: 0.9;
        .product-detail {
            padding: 0.5rem 0 0.5rem;
            position: relative;
            &:hover {
                transition: transform 0.15s, background 0.15s;
                -webkit-transform: scale(1.03);
                transform: scale(1.03);
                -webkit-box-shadow: 0px 1px 3px rgba(126, 142, 177, 0.2);
                box-shadow: 0px 1px 3px rgba(126, 142, 177, 0.2);
            }
            .quantity {
                width: 35px;
                height: 30px;
                p {
                    font-weight: bold;
                    margin: 0;
                }
                div {
                    width: 33%;
                }
                button {
                    height: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:focus {
                        box-shadow: none;
                    }
                    img {
                        width: 10px;
                        height: 10px;
                    }
                }
                button:last-child {
                    img {
                        transform: rotate(180deg);
                    }
                }
            }
            .price {
                font-size: 0.9rem;
                font-weight: bold;
                p {
                    margin: 0;
                }
            }
            .edit {
                img {
                    width: 15px;
                    height: 15px;
                    cursor: pointer;
                    filter: invert(24%) sepia(80%) saturate(4235%) hue-rotate(342deg) brightness(96%) contrast(79%);
                }
            }
            .product-detail-name {
                width: 33%;
            }
            .name {
                max-width: 100%;
                overflow: hidden;
                max-height: 40px;
                text-overflow: ellipsis;
                white-space: nowrap;
                cursor: pointer;
            }
            // p {
            //     margin: 0;
            //     overflow: hidden;
            //     text-overflow: ellipsis;
            //     white-space: nowrap;
            //     opacity: 0.6;
            //     cursor: pointer;
            // }
            img {
                width: 35px;
                height: 35px;
                border-radius: 5px;
            }
        }
    }
}

.order {
    background: #fff;
    position: fixed;
    padding: 0 1rem;
    left: 0;
    right: 0;
    bottom: 0;
}
.order .total-price p {
    font-weight: bold;
    font-size: 0.9rem;
}
.order button {
    font-weight: bold;
}
.prevent-click {
    pointer-events: none;
}
.popup {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 0;
    top: 100%;
    left: 0;
    background: #fff;
    transition: all 0.3s ease;
}
.show-popup {
    height: 100vh;
    top: 0;
}
.popup > div:first-child {
    padding: 1rem;
}
.popup .search {
    background: #f6f6f6;
}
.popup .hidden-search {
    display: none !important;
}
.popup .search img {
    width: 17px;
    height: 17px;
    filter: invert(48%) sepia(0%) saturate(21%) hue-rotate(179deg) brightness(108%) contrast(100%);
}
.popup .search input {
    // padding: 0;
    border: none;
    background: transparent;
    height: 30px;
}
.popup .search input:focus {
    outline: none;
}
.popup div > button {
    width: 30px;
    height: 30px;
    background: #0000;
    border: none;
    padding: 0;
    position: relative;
    left: 5px;
}
.popup div > button:focus {
    outline: none;
}
.popup div > button img {
    width: 100%;
    height: 100%;
    filter: invert(30%) sepia(96%) saturate(2052%) hue-rotate(198deg) brightness(99%) contrast(108%);
}
.popup .list-product {
    padding: 1rem;
    max-height: calc(100% - 50px);
    overflow-y: scroll;
    position: relative;
    font-size: 0.9rem;
}
.popup .list-product::-webkit-scrollbar {
    display: none;
}
.popup .list-product .product {
    position: relative;
    cursor: pointer;
    background: #fff;
}
.popup .list-product .product:hover {
    transition: transform 0.1s, background 0.1s;
    background: #ddd;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-box-shadow: 0px 1px 3px rgba(126, 142, 177, 0.2);
    box-shadow: 0px 1px 3px rgba(126, 142, 177, 0.2);
}
.popup .list-product .product:last-child::after {
    content: "";
    width: 100%;
    height: 15vh;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    background: #fff;
}
.popup .product img {
    width: 35px;
    height: 35px;
}
.popup .product p:first-child {
    margin: 0;
    /* font-weight: bold; */
    opacity: 0.9;
}
.popup .product p:first-child + p {
    opacity: 0.6;
}
.popup .product p:last-child {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0;
    opacity: 0.9;
}
.order-info {
    position: fixed;
    z-index: 999;
    bottom: 13%;
    left: 0;
    height: 0;
    width: 100%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 20px 0 #0005;
    transition: bottom 0.3s ease-out;
    overflow: hidden;
    padding: 0;
    border-radius: 15px 15px 0 0;
}
.order-info p {
    text-align: center;
}
.order-info p:last-child {
    font-weight: bold;
    font-size: 1.1rem;
}
.order-info p:last-of-type {
    font-weight: bold;
}
.order-info button {
    font-weight: bold;
}
.order-info::-webkit-scrollbar {
    display: none;
}
.order-info .close {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    right: 10px;
    opacity: 1;
    border-radius: 50%;
}
.order-info .close:hover {
    opacity: 1 !important;
}
.order-info .close img {
    width: 22px;
    height: 22px;
    filter: invert(30%) sepia(96%) saturate(2052%) hue-rotate(198deg) brightness(99%) contrast(108%);
}
.order-info .close:focus {
    outline: none;
}
.show-order-info {
    bottom: 0;
    max-height: 90vh;
    overflow-y: scroll;
    height: initial;
    opacity: 1;
    padding: 1rem;
}
.config {
    padding: 1rem;
}
.config button {
    font-weight: bold;
}
.main div:first-child > button {
    font-weight: bold;
}

.order__option {
    input {
        width: auto;
        margin: 0;
    }
    img {
        height: 12px;
        width: 12px;
        &:hover {
            cursor: help;
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .modal__btn--close {
        text-align: right;
        img {
            height: 20px;
            width: 20px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .modal__content {
        p {
            color: #ffffff;
            opacity: 1;
            font-size: 13px;
            text-align: center;
        }
    }
    .modal__msg {
        background: #ffffff;
        color: #000000;
        width: 100%;
        margin: 1rem;
        padding: 1rem;
        border-radius: 1rem;
    }
}
.modal-transition {
    animation: modal 2s 2s cubic-bezier(0.075, 0.82, 0.165, 0.5);
}
@keyframes modal {
    25% {
        opacity: 0.4;
        scale: 0.4;
    }
}

@keyframes modal {
    100% {
        opacity: 1;
        scale: 1;
    }
}
