html {
    font-size: 13px;
}
body::-webkit-scrollbar {
    display: none;
}
* {
    font-size: 0.9rem;
}
.disable-scroll {
    overflow: hidden;
    height: 100vh;
}
body > div {
    margin: 0;
    padding: 0;
}

.delivery__main {
    background: #fff;
    padding: 1rem;
    .delivery__title {
        font-size: 1rem;
        font-weight: bold;
        padding-bottom: 1rem;
        text-align: center;
    }
    .delivery__inventory {
        position: relative;
        // padding-bottom: 1rem;
    }
    .delivery__product--size,
    .delivery__service,
    .delivery__ghn--cod {
        position: relative;
    }
}
.delivery__ghn--cod {
    input {
        text-align: right;
    }
}
.delivery__fee--total {
    padding: 0 1rem;
}
.delivery__fee--total .option img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.delivery__fee--total .option p {
    cursor: pointer;
}
.delivery__fee--total .option + .form-group {
    height: 0;
    opacity: 0;
    margin: 0;
    transition: all 0.3s ease;
}
.delivery__fee--total .option + .form-group button {
    font-weight: bold;
}
.delivery__fee--total .option + .show-note {
    height: initial;
    opacity: 1;
}

.delivery {
    input,
    select {
        margin-bottom: 1rem;
    }
}

textarea {
    height: 3rem;
}
// .input:focus,
// textarea:focus,
// select:focus {
//   box-shadow: none;
//   background: #eee;
//   border: none !important;
// }

.btn-pill {
    font-size: 0.9rem;
    background: #0d6efd;
    color: #ffffff;
    height: 2rem;
    outline: none;
    border: none;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 1px 3px rgba(126, 142, 177, 0.2);
    box-shadow: 0 1px 3px rgba(126, 142, 177, 0.2);
}




.form-control-sm {
    height: calc(1.5em + 0.5rem + 2px);
    width: 100%;
    padding: 0.25rem 0.5rem;
    color: #000000;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    /* border: 1px solid #ced4da; */
    border: none;
    // appearance: none;
    background: #eee;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    option {
        background: #ffffff;
    }
    &:focus {
        box-shadow: none;
        background: #eee;
        outline: none;
        // border: none;
    }
}
.all__text--decoration {
    text-align: center;
    width: 100px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -70%);
    background: #fff;
    font-size: 1rem;
    color: #777777;
}
