body::-webkit-scrollbar {
    display: none;
}
.disable-scroll {
    overflow: hidden;
    height: 100vh;
}
body > div {
    margin: 0;
    padding: 0;
}

.delivery__main {
    background: #fff;
    .delivery__title {
        text-align: center;
    }
    .delivery__inventory {
        position: relative;
    }
    .delivery__product--size,
    .delivery__service,
    .delivery__ghn--cod {
        position: relative;
    }
}
.delivery__ghn--cod {
    input {
        text-align: right;
    }
}
.delivery__fee--total .option img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.delivery__fee--total .option p {
    cursor: pointer;
}
.delivery__fee--total .option + .form-group {
    height: 0;
    opacity: 0;
    margin: 0;
    transition: all 0.3s ease;
}
.delivery__fee--total .option + .show-note {
    height: initial;
    opacity: 1;
}