<div class="delivery">
    <div class="delivery__main">
        <hr>
        <p class="text__second--medium font__weight--600 margin__bottom--12">Vận đơn {{payload.delivery_platform}}</p>
        <!-- address customer -->
        <div class="delivery__inventory">
            <div class="margin__bottom--12 form-row">
                <div class="col">
                    <select class="form-control-sm input-group input-group-sm"
                        :class="{'validate-failed':validate_failed.inventory}" v-model="order_info.inventory">
                        <option value>Kho hàng/Inventories</option>
                        <option v-for="(inventory,index) in list_inventories" :key="index" :value="inventory">
                            {{inventory.name||inventory.pick_name}}
                        </option>
                    </select>
                </div>
            </div>
            <!-- <div class="affiliate margin__bottom--12 form-row" v-if="payload.delivery_platform=='GHN'&&!is_affiliate">
                <div class="col d-flex align-items-center">
                    <div class="tooltip" style="width: 100%">
                        <input class="form-control-sm" type="text" placeholder="Mã OTP" v-model="otpGhn">
                        <span class="tooltip-top tooltip-medium">Nhập OTP để phân quyền cho Bot Bán Hàng làm nhân viên
                            lên đơn</span>
                    </div>
                    <button class="btn-pill" @click="addAffiliate()">Xác nhận</button>
                </div>
            </div> -->
        </div>

        <div class="delivery__product--size">
            <div class="margin__bottom--12 form-row">
                <div class="col form-row d-flex align-items-center">
                    <p class="delivery__product--size-name col text__second--small white-space-nowrap">Nặng (g)</p>
                    <div class="col tooltip">
                        <input v-model="order_info.weight" type="number" min="0" class="form-control-sm text-center p-0"
                            :class="{'validate-failed':validate_failed.weight}" placeholder="Cân nặng (gram)"
                            @keyup="handleWeightTimeout" />
                        <span class="tooltip-top tooltip-nowrap">Cân nặng(gram)</span>
                    </div>
                </div>
                <div class="col form-row d-flex align-items-center"
                    v-if="payload.delivery_platform=='VIETTEL_POST'||payload.delivery_platform=='GHN'">
                    <p class="delivery__product--size-name col text__second--small white-space-nowrap">Dài (cm)</p>
                    <div class="col tooltip">
                        <input v-model="order_info.length" type="number" min="0" class="form-control-sm text-center p-0"
                            :class="{'validate-failed':validate_failed.length}" placeholder="Chiều dài (cm)"
                            @keyup="handleSizeTimeout" />
                        <span class="tooltip-top tooltip-nowrap">Chiều dài(cm)</span>
                    </div>
                </div>
            </div>
            <div class="margin__bottom--12 form-row"
                v-if="payload.delivery_platform=='VIETTEL_POST'||payload.delivery_platform=='GHN'">
                <div class="col form-row d-flex align-items-center">
                    <p class="delivery__product--size-name col text__second--small white-space-nowrap">Rộng (cm)</p>
                    <div class="col tooltip">
                        <input v-model="order_info.width" type="number" min="0" class="form-control-sm text-center p-0"
                            :class="{'validate-failed':validate_failed.width}" placeholder="Chiều rộng (cm)"
                            @keyup="handleSizeTimeout" />
                        <span class="tooltip-bottom tooltip-nowrap">Chiều rộng(cm)</span>
                    </div>
                </div>
                <div class="col form-row d-flex align-items-center">
                    <p class="delivery__product--size-name col text__second--small white-space-nowrap">Cao (cm)</p>
                    <div class="col tooltip">
                        <input v-model="order_info.height" type="number" min="0" class="form-control-sm text-center p-0"
                            :class="{'validate-failed':validate_failed.height}" placeholder="Chiều cao (cm)"
                            @keyup="handleSizeTimeout" />
                        <span class="tooltip-bottom tooltip-nowrap">Chiều cao(cm)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="delivery__service">
            <!-- VTP loại sản phẩm -->
            <div v-if="payload.delivery_platform=='VIETTEL_POST'">
                <div class="margin__bottom--12 form-row">
                    <div class="col">
                        <select v-model="order_info.product_type" class="form-control-sm"
                            :class="{'validate-failed':validate_failed.product_type}" @change="getPricingServices">
                            <option value="">Phân loại Sản Phẩm</option>
                            <option value="TH">Thư/ Envelope</option>
                            <option value="HH">Hàng hóa/ Goods</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hinh thức thanh toán -->
        <div class="margin__bottom--12 form-row">
            <div class="col">
                <select v-model="order_info.order_payment" class="form-control-sm"
                    :class="{'validate-failed':validate_failed.order_payment}">
                    <option value="">Hình thức thanh toán</option>
                    <option v-if="payload.delivery_platform=='GHN'"
                        v-for="(order_payment,index) in list_order_payment_ghn" :key=index :value="order_payment">
                        {{order_payment.name}}</option>
                    <option v-if="payload.delivery_platform=='VIETTEL_POST'"
                        v-for="(order_payment,index) in list_order_payment_vtp" :key=index :value="order_payment">
                        {{order_payment.name}}</option>
                    <option v-if="payload.delivery_platform=='GHTK'"
                        v-for="(order_payment,index) in list_order_payment_ghtk" :key=index :value="order_payment">
                        {{order_payment.name}}</option>
                </select>
            </div>
        </div>
        <!--VTP GHN Danh sách dịch vụ -->
        <div class="margin__bottom--12 form-row"
            v-if="payload.delivery_platform=='VIETTEL_POST'||payload.delivery_platform=='GHN'">
            <div class="col">
                <select v-model="order_info.order_service" class="form-control-sm"
                    :class="{'validate-failed':validate_failed.order_service}" @change="getShippingFee">
                    <option value="">Danh sách dịch vụ {{payload.delivery_platform}}</option>
                    <option v-for="(service,index) in pricing_services_list" :key="index" :value="service">
                        {{service.TEN_DICHVU||service.short_name}}</option>
                </select>
            </div>
        </div>
        <!-- GHTK đường vận chuyển -->
        <div class="margin__bottom--12 form-row" v-if="payload.delivery_platform=='GHTK'">
            <div class="col">
                <select v-model="order_info.other_info.transport" class="form-control-sm"
                    :class="{'validate-failed':validate_failed.other_info.transport}" @change="getShippingFee">
                    <option value>Chọn đường vận chuyển</option>
                    <option value="road">Đường bộ</option>
                    <option value="fly">Máy bay</option>
                </select>
            </div>
        </div>
        <!-- GHN mã ghi chú bắt buộc, mã khuyễn mãi -->
        <div v-if="payload.delivery_platform=='GHN'">
            <div class="margin__bottom--12 form-row">
                <div class="col">
                    <select v-model="order_info.required_note" class="form-control-sm"
                        :class="{'validate-failed':validate_failed.required_note}">
                        <option value="">Mã ghi chú bắt buộc</option>
                        <option value="KHONGCHOXEMHANG">Không cho xem hàng</option>
                        <option value="CHOXEMHANGKHONGTHU">Cho xem hàng không thử</option>
                        <option value="CHOTHUHANG">Cho thử hàng</option>
                    </select>
                </div>
            </div>
            <div class="margin__bottom--12 form-row">
                <div class="col">
                    <input v-model="order_info.coupon" type="text" class="form-control-sm"
                        :class="{'validate-failed':validate_failed.coupon_real_ghn}" placeholder="Mã khuyễn mãi GHN"
                        title="Mã khuyễn mãi" @change="getShippingFee" />
                </div>
            </div>
        </div>
        <!-- GHN GHTK tiền thu hộ cod -->
        <div class="delivery__ghn--cod" v-if="payload.delivery_platform=='GHN'||payload.delivery_platform=='GHTK'">
            <div class="margin__bottom--12 form-row">
                <p class="col text__second--small font__weight--600 d-flex align-items-center">Tiền thu hộ</p>
                <div class="col tooltip">
                    <input v-model="order_info.cod_amount" type="text" class="form-control-sm"
                        placeholder="Tiền thu hộ COD" title="Tiền thu hộ COD"
                        @change="checkKeyBoard($event,$event.target.value)"
                        @keyup="checkKeyBoard($event,$event.target.value)" />
                    <span class="tooltip-top">Tiền thu hộ COD</span>
                </div>
            </div>
        </div>
    </div>
    <div class="delivery__fee--total">
        <div v-if="payload.delivery_platform!='GHN'">
            <div class="d-flex justify-content-between align-items-center">
                <p class="text__second--medium margin__y--8 font__weight--600">Thêm ghi chú</p>
                <div class="icon__add--cursor" @click="handleShowNote">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 4.1665V15.8332" stroke="#FF5F0B" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M4.16675 10H15.8334" stroke="#FF5F0B" stroke-width="1.5" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </div>


            </div>
            <input class="form-control-sm" ref="note" v-model="order_info.note" v-if="is_show_note"></input>
        </div>
        <!-- <hr> -->
        <!-- <div class="text__second--medium d-flex justify-content-between align-items-center">
            <span class="">Phí giao vận</span>
            <span class="font__weight--600">{{order_info.shipping_fee||0|toCurrency}}</span>
        </div> -->
    </div>
</div>