<div class="delivery">
    <div class="delivery__main">
        <hr>
        <p class="delivery__title">Tạo vận đơn {{payload.delivery_platform}}</p>
        <!-- address customer -->
        <div class="delivery__inventory">
            <hr>
            <div class="all__text--decoration mb-0">Kho hàng</div>
            <div class="form-row">
                <div class="col">
                    <select class="form-control-sm input-group input-group-sm"
                        :class="{'validate-failed':validate_failed.inventory}" v-model="order_info.inventory">
                        <option value>Kho hàng/Inventories</option>
                        <option v-for="(inventory,index) in list_inventories" :key="index" :value="inventory">
                            {{inventory.name||inventory.pick_name}}
                        </option>
                    </select>
                </div>
            </div>
            <!-- VTP sender email -->
            <div class="form-row" v-if="!payload.store_email&&payload.delivery_platform=='VIETTEL_POST'">
                <div class="col">
                    <input class="form-control-sm" type="text" placeholder="Email bên gửi..."
                        v-model="order_info.sender_email" @change="handleSaveInfo">
                    <input id="checkbox__save--email" type="checkbox" v-model="option_save_info"
                        @change="handleSaveInfo">
                    <label for="checkbox__save--email">Lưu email</label>
                </div>
            </div>
        </div>

        <div class="delivery__product--size">
            <hr>
            <p class="all__text--decoration mb-0">Kích thước</p>
            <div class="form-row">
                <div class="col">
                    <input v-model="order_info.weight" type="number" class="form-control-sm"
                        :class="{'validate-failed':validate_failed.weight}" placeholder="Cân nặng (gram)"
                        title="Cân nặng (gram)" @change="handleChangeWeight" />
                </div>
                <div class="col" v-if="payload.delivery_platform=='VIETTEL_POST'||payload.delivery_platform=='GHN'">
                    <input v-model="order_info.length" type="number" class="form-control-sm"
                        :class="{'validate-failed':validate_failed.length}" placeholder="Chiều dài (cm)"
                        title="Chiều dài (cm)" @change="handleChangeSize" />
                </div>
            </div>
            <div class="form-row" v-if="payload.delivery_platform=='VIETTEL_POST'||payload.delivery_platform=='GHN'">
                <div class="col">
                    <input v-model="order_info.width" type="number" class="form-control-sm"
                        :class="{'validate-failed':validate_failed.width}" placeholder="Chiều rộng (cm)"
                        title="Chiều rộng (cm)" @change="handleChangeSize" />
                </div>
                <div class="col">
                    <input v-model="order_info.height" type="number" class="form-control-sm"
                        :class="{'validate-failed':validate_failed.height}" placeholder="Chiều cao (cm)"
                        title="Chiều cao (cm)" @change="handleChangeSize" />
                </div>
            </div>
        </div>
        <div class="delivery__service">
            <hr>
            <p class="all__text--decoration mb-0">Dịch vụ</p>
            <!-- VTP loại sản phẩm -->
            <div v-if="payload.delivery_platform=='VIETTEL_POST'">
                <div class="form-row">
                    <div class="col">
                        <select v-model="order_info.product_type" class="form-control-sm"
                            :class="{'validate-failed':validate_failed.product_type}" @change="getPricingServices">
                            <option value="">Phân loại Sản Phẩm</option>
                            <option value="TH">Thư/ Envelope</option>
                            <option value="HH">Hàng hóa/ Goods</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hinh thức thanh toán -->
        <div class="form-row">
            <div class="col">
                <select v-model="order_info.order_payment" class="form-control-sm"
                    :class="{'validate-failed':validate_failed.order_payment}">
                    <option value="">Hình thức thanh toán</option>
                    <option v-if="payload.delivery_platform=='GHN'"
                        v-for="(order_payment,index) in list_order_payment_ghn" :key=index :value="order_payment">
                        {{order_payment.name}}</option>
                    <option v-if="payload.delivery_platform=='VIETTEL_POST'"
                        v-for="(order_payment,index) in list_order_payment_vtp" :key=index :value="order_payment">
                        {{order_payment.name}}</option>
                    <option v-if="payload.delivery_platform=='GHTK'"
                        v-for="(order_payment,index) in list_order_payment_ghtk" :key=index :value="order_payment">
                        {{order_payment.name}}</option>
                </select>
            </div>
        </div>
        <!--VTP GHN Danh sách dịch vụ -->
        <div class="form-row" v-if="payload.delivery_platform=='VIETTEL_POST'||payload.delivery_platform=='GHN'">
            <div class="col">
                <select v-model="order_info.order_service" class="form-control-sm"
                    :class="{'validate-failed':validate_failed.order_service}" @change="getShippingFee">
                    <option value="">Danh sách dịch vụ {{payload.delivery_platform}}</option>
                    <option v-for="(service,index) in pricing_services_list" :key="index" :value="service">
                        {{service.TEN_DICHVU||service.short_name}}</option>
                </select>
            </div>
        </div>
        <!-- GHTK đường vận chuyển -->
        <div class="form-row" v-if="payload.delivery_platform=='GHTK'">
            <div class="col">
                <select v-model="order_info.other_info.transport" class="form-control-sm"
                    :class="{'validate-failed':validate_failed.other_info.transport}" @change="getShippingFee">
                    <option value>Chọn đường vận chuyển</option>
                    <option value="fly">Máy bay</option>
                    <option value="road">Đường bộ</option>
                </select>
            </div>
        </div>
        <!-- GHN mã ghi chú bắt buộc, mã khuyễn mãi -->
        <div v-if="payload.delivery_platform=='GHN'">
            <div class="form-row">
                <div class="col">
                    <select v-model="order_info.required_note" class="form-control-sm"
                        :class="{'validate-failed':validate_failed.required_note}">
                        <option value="">Mã ghi chú bắt buộc</option>
                        <option value="KHONGCHOXEMHANG">Không cho xem hàng</option>
                        <option value="CHOXEMHANGKHONGTHU">Cho xem hàng không thử</option>
                        <option value="CHOTHUHANG">Cho thử hàng</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <input v-model="order_info.coupon" type="text" class="form-control-sm"
                        :class="{'validate-failed':validate_failed.coupon_real_ghn}" placeholder="Mã khuyễn mãi"
                        title="Mã khuyễn mãi" @change="getShippingFee" />
                </div>
            </div>
        </div>
        <!-- GHN GHTK tiền thu hộ cod -->
        <div class="delivery__ghn--cod" v-if="payload.delivery_platform=='GHN'||payload.delivery_platform=='GHTK'">
            <hr>
            <p class="all__text--decoration mb-0">Tiền thu hộ COD</p>
            <div class="form-row">
                <div class="col">
                    <input v-model="order_info.cod_amount" type="text" class="form-control-sm"
                        placeholder="Tiền thu hộ COD" title="Tiền thu hộ COD"
                        @change="checkKeyBoard($event,$event.target.value)"
                        @keyup="checkKeyBoard($event,$event.target.value)" />
                </div>
            </div>
        </div>
    </div>
    <div class="delivery__fee--total">
        <div v-if="payload.delivery_platform!='GHN'">
            <div class="option mb-3 d-flex justify-content-end">
                <div class="d-flex align-items-center" @click="handleShowNote()">
                    <img class="mr-2" src="@/assets/note.png" alt="add note" />
                    <p class="text-primary m-0">Thêm ghi chú</p>
                </div>
            </div>
            <div v-if="is_show_note">
                <textarea v-model="order_info.note" rows="2"
                    class="form-control-sm delivery__fee--total-note"></textarea>
            </div>
        </div>
        <p class="font-weight-bold text-right">Phí giao vận: {{order_info.shipping_fee||0|toCurrency}}</p>
    </div>
</div>