* {
    font-size: 0.9rem;
}
.form__alepay {
    padding: 10px;
    .alepay__title {
        font-size: 1rem;
        font-weight: bold;
        padding-bottom: 1rem;
        text-align: center;
    }
    .alepay__info,
    .alepay__checkout,
    .alepay__description {
        position: relative;
    }
    .content__btn {
        button {
            width: 100%;
            margin: 20px 0 10px 0;
        }
    }
    input {
        margin-bottom: 10px;
    }
    select {
        margin-bottom: 10px;
    }
}
.form-control-sm {
    height: calc(1.5em + 0.5rem + 2px);
    width: 100%;
    padding: 0.25rem 0.5rem;
    color: #000000;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    /* border: 1px solid #ced4da; */
    border: none;
    // appearance: none;
    background: #eee;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    option {
        background: #ffffff;
    }
    &:focus {
        box-shadow: none;
        background: #eee;
        outline: none;
        // border: none;
    }
}
.btn-pill {
    font-size: 0.9rem;
    background: #0d6efd;
    color: #ffffff;
    height: 2rem;
    outline: none;
    border: none;
    border-radius: 1rem;
    -webkit-box-shadow: 0px 1px 3px rgba(126, 142, 177, 0.2);
    box-shadow: 0 1px 3px rgba(126, 142, 177, 0.2);
    &:hover {
        background: #0167ff;
        transition: transform 0.15s, background 0.15s;
        -webkit-transform: scale(1.03);
        transform: scale(1.03);
        -webkit-box-shadow: 0px 1px 3px rgba(126, 142, 177, 0.2);
        box-shadow: 0px 1px 3px rgba(126, 142, 177, 0.2);
    }
}
.all__text--decoration {
    text-align: center;
    width: 100px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -70%);
    background: #fff;
    font-size: 1rem;
    color: #777777;
}
