<div :class="[ 'order-info', { 'show-order-info': is_show_order_info }]">
    <div class="text-center" v-if="is_show_order_info&&payload.delivery_platform_type=='GHN'">
        <button class="close" @click="handleCloseOrderInfo()">
            <img src="@/assets/multiply.png" />
        </button>
        <p class="mt-2 mb-3 font-weight-bold">Thông tin giao hàng</p>
        <p class="">Khách hàng: {{order_info.to_name}}</p>
        <p class="">Số điện thoại: {{order_info.to_phone}}</p>
        <p class="">Địa chỉ: {{order_info.to_address}}</p>
        <p class="">Hàng hoá: {{order_info.content}}</p>
        <p class="text-primary">
            <span v-if="order_info.payment_type_id==1">Bên gửi trả phí</span>
            <span v-if="order_info.payment_type_id==2">Bên nhận trả phí</span>
            <span> - Chưa tính tiền thu hộ</span>
        </p>
        <p v-if="order_info.note">Ghi chú: {{order_info.note}}</p>
        <p class="font-weight-bold" style="font-size:16">Tổng phí giao hàng: {{order_info.shipping_fee | toCurrency}}
        </p>
        <button @click="createOrder()" class="btn btn-primary mt-3 mb-4 w-100 font-weight-bold">Xác nhận
            đơn</button>
    </div>
    <div class="text-center" v-if="is_show_order_info&&payload.delivery_platform_type=='VIETTEL_POST'">
        <button class="close" @click="handleCloseOrderInfo()">
            <img src="@/assets/multiply.png" />
        </button>
        <p class="mt-2 mb-3 font-weight-bold">Thông tin giao hàng</p>
        <p class="">Khách hàng: {{order_info.receiver_name}}</p>
        <p class="">Số điện thoại: {{order_info.receiver_phone}}</p>
        <p class="">Địa chỉ: {{order_info.receiver_address}}</p>
        <span class="">Sản phẩm: {{order_info.product_quantity}} {{order_info.product_name}}</span>
        <p>
            <span>Loại sản phẩm: </span><span v-if="order_info.product_type=='TH'">Thư/ Envelope</span>
            <span v-if="order_info.product_type=='HH'">Hàng hóa/ Goods</span>
        </p>
        <p>Dịch vụ: {{order_info.order_service.TEN_DICHVU}}</p>
        <p v-if="order_info.required_note">Ghi chú: {{order_info.required_note}}</p>
        <p class="font-weight-bold" style="font-size:16">Tổng phí giao hàng: {{order_info.shipping_fee | toCurrency}}
        </p>
        <button @click="createOrder()" class="btn-pill mt-3 mb-4 w-100">Xác nhận
            đơn</button>
    </div>
</div>