$colorNeutral5: #f6f7f8;

.auth {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 9px;
    top: 20%;
    width: 100%;
    z-index: 9999;
    .auth__activate {
        position: relative;
        background: #f6f6f6;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 1rem;
        margin-top: 5%;
        padding: 5% 10%;
        -webkit-box-shadow: 0px 1px 5px rgba(126, 142, 177, 0.2);
        box-shadow: 0 1px 5px rgba(126, 142, 177, 0.2);
    }
    .sign {
        width: 100%;
        input {
            width: 100%;
            height: 35px;
        }
    }
    .select-store {
        width: 100%;
        opacity: 0;
        height: 0;
        transition: all 0.4s ease-out 0.2s;
        .list__store {
            max-height: 50vh;
            overflow: scroll;
            border-radius: 8px;
            padding: 12px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
            background: #fff;
            .store {
                cursor: pointer;
                padding: 6px 12px;
                border-radius: 8px;
                background: $colorNeutral5;
                transition: transform 0.2s ease-out, border-bottom 0s, background 0.7s ease-out;
                &:hover {
                    transform: scale(1.03);
                    background: #ddd;
                }
            }
        }
    }
    .show-store {
        height: initial;
        opacity: 1;
    }
}
