<div class="main">
    <div class="viettel-post">
        <p class="viettel__title">ORDER VIETTEL-POST</p>

        <!-- address customer -->
        <div class="viettel__sender">
            <hr>
            <div class="all__text--decoration mb-0">Bên gửi</div>
            <div class="form-row">
                <div class="col">
                    <select v-model="order_info.inventory" class="form-control-sm rounded input-group input-group-sm">
                        <option value>Kho hàng/Inventories</option>
                        <option v-for="(inventory,index) in list_inventories" :key="index" :value="inventory">
                            {{inventory.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <input v-model="order_info.sender_name" type="text" class="form-control-sm" placeholder="Họ tên"
                        title="Họ tên" />
                </div>
                <div class="col">
                    <input v-model="order_info.sender_phone" type="number" class="form-control-sm"
                        placeholder="Số điện thoại" title="Số điện thoại" />
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <input v-model="order_info.sender_email" type="text" class="form-control-sm" placeholder="Email"
                        title="Email" />
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <input v-model="order_info.sender_street" type="text" class="form-control-sm"
                        placeholder="Địa chỉ trả hàng" title="Địa chỉ gửi" />
                </div>
            </div>
            <!-- <div class="form-row">
                <div class="col">
                    <select v-model="country" class="form-control">
                        <option value="">Việt Nam</option>
                    </select>
                </div>
                <div class="col">
                    <select v-model="order_info.sender_city_id" @change="getDistrict('sender')" class="form-control">
                        <option selected value="">Tỉnh/Tp</option>
                        <option v-for="(city, index) in list_city" :value="city.PROVINCE_ID" :key="index">
                            {{city.PROVINCE_NAME}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <select v-model="order_info.sender_district_id" @change="getWard('sender')" class="form-control">
                        <option selected value="">Quận/Huyện</option>
                        <option v-for="(district, index) in list_district_sender" :value="district.DISTRICT_ID"
                            :key="index">
                            {{district.DISTRICT_NAME}}</option>
                    </select>
                </div>
                <div class="col">
                    <select v-model="order_info.sender_ward_code" class="form-control">
                        <option selected value="">Phường/Xã</option>
                        <option v-for="(ward, index) in list_ward_sender" :value="ward.WARDS_ID" :key="index">
                            {{ward.WARDS_NAME}}
                        </option>
                    </select>
                </div>
            </div> -->

            <!-- address sender -->
            <div class="form-row">
                <div class="col">
                    <select v-model="country" class="form-control-sm">
                        <option value="">Việt Nam</option>
                    </select>
                </div>
                <div class="col">
                    <Autocomplete :list_data_input="list_city" :placeholder="'Tỉnh/TP'" :getData="getListDistrictSender"
                        :changeInput="getPricingServices" :prop_name="'PROVINCE_NAME'"
                        @data_output="order_info.sender_city=$event" :clearInput="resetChangeCitySender" />
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <Autocomplete :list_data_input="list_district_sender" :placeholder="'Quận/Huyện'"
                        :getData="getListWardSender" :changeInput="getPricingServices" :prop_name="'DISTRICT_NAME'"
                        @data_output="order_info.sender_district=$event" :clearInput="resetChangeDistrictSender"
                        :watch_data="order_info.sender_city" />
                </div>
                <div class="col">
                    <Autocomplete :list_data_input="list_ward_sender" :placeholder="'Phường/Xã'"
                        :prop_name="'WARDS_NAME'" @data_output="order_info.sender_ward=$event" :clearInput="false"
                        :watch_data="order_info.sender_district" />
                </div>
            </div>
        </div>

        <!-- address receiver -->
        <div class="viettel__receiver">
            <hr>
            <p class="all__text--decoration mb-0">Bên nhận</p>
            <div class="form-row">
                <div class="col">
                    <input v-model="order_info.receiver_name" type="text" class="form-control-sm" placeholder="Họ tên"
                        title="Họ tên" />
                </div>
                <div class="col">
                    <input v-model="order_info.receiver_phone" type="number" class="form-control-sm"
                        placeholder="Số điện thoại" title="Số điện thoại" />
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <input v-model="order_info.receiver_email" type="text" class="form-control-sm" placeholder="Email"
                        title="Email" />
                </div>
            </div>
            <input v-model="order_info.receiver_address" type="text" class="form-control-sm" placeholder="Địa chỉ nhận"
                title="Địa chỉ nhận" />

            <!-- address receiver -->
            <div class="form-row">
                <div class="col">
                    <select v-model="country" class="form-control-sm">
                        <option value="">Việt Nam</option>
                    </select>
                </div>
                <div class="col">
                    <Autocomplete :list_data_input="list_city" :placeholder="'Tỉnh/TP'"
                        :getData="getListDistrictReceiver" :changeInput="getPricingServices"
                        :prop_name="'PROVINCE_NAME'" @data_output="order_info.receiver_city=$event"
                        :clearInput="resetChangeCityReceiver" />
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <Autocomplete :list_data_input="list_district_receiver" :placeholder="'Quận/Huyện'"
                        :getData="getListWardReceiver" :changeInput="getPricingServices" :prop_name="'DISTRICT_NAME'"
                        @data_output="order_info.receiver_district=$event" :clearInput="resetChangeDistrictReceiver"
                        :watch_data="order_info.receiver_city" />
                </div>
                <div class="col">
                    <Autocomplete :list_data_input="list_ward_receiver" :placeholder="'Phường/Xã'"
                        :prop_name="'WARDS_NAME'" @data_output="order_info.receiver_ward=$event" :clearInput="false"
                        :watch_data="order_info.receiver_district" />
                </div>
            </div>
        </div>

        <div class="viettel__product">
            <hr>
            <p class="all__text--decoration mb-0">Sản phẩm</p>
            <div class="form-row">
                <div class="col">
                    <input v-model="order_info.product_name" type="text" class="form-control-sm"
                        placeholder="Tên sản phẩm" title="Tên sản phẩm"></input>
                </div>
                <div class="">
                    <input v-model="order_info.product_quantity" type="number" class="form-control-sm" style="width: 50px;text-align:center;padding-right: 5px;
            padding-left: 0px;" min="0" title="Số lượng sản phẩm"></input>
                </div>
            </div>
        </div>
        <div class="viettel__price">
            <hr>
            <p class="all__text--decoration mb-0">Giá sản phẩm</p>
            <div class="form-row">
                <div class="col">
                    <input id="input" class="form-control-sm text-right" type="text" placeholder="Giá sản phẩm"
                        title="Giá trị đơn hàng" v-model="order_info.product_price"
                        @change="getPricingServices();checkKeyBoard($event,$event.target.value)"
                        @keyup="checkKeyBoard($event,$event.target.value)" />
                </div>
            </div>
        </div>
        <div class="viettel__size">
            <hr>
            <p class="all__text--decoration mb-0">Kích thước</p>
            <div class="form-row">
                <div class="col">
                    <input v-model="order_info.weight" type="number" class="form-control-sm"
                        placeholder="Cân nặng (gram)" title="Cân nặng (gram)" @change="getPricingServices" />
                </div>
                <div class="col">
                    <input v-model="order_info.length" type="number" class="form-control-sm"
                        placeholder="Chiều dài (cm)" title="Chiều dài (cm)" />
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <input v-model="order_info.width" type="number" class="form-control-sm"
                        placeholder="Chiều rộng (cm)" title="Chiều rộng (cm)" />
                </div>
                <div class="col">
                    <input v-model="order_info.height" type="number" class="form-control-sm"
                        placeholder="Chiều cao (cm)" title="Chiều cao (cm)" />
                </div>
            </div>
        </div>
        <div class="viettel__service">
            <hr>
            <p class="all__text--decoration mb-0">Dịch vụ</p>
            <div class="form-row">
                <div class="col">
                    <select v-model="order_info.product_type" class="form-control-sm" @change="getPricingServices">
                        <option value="">Phân loại Sản Phẩm</option>
                        <option value="TH">Thư/ Envelope</option>
                        <option value="HH">Hàng hóa/ Goods</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <select v-model="order_info.order_payment" class="form-control-sm">
                        <option value="">Hình thức thanh toán</option>
                        <option value="1">Chưa thanh toán/Do not collect money</option>
                        <option value="2">Thu phí ship và giá sản phẩm/Collect ship fee and price of products</option>
                        <option value="3">Thu giá sản phẩm/Collect price of products</option>
                        <option value="4">Thu phí ship/Collect ship fee</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <select v-model="order_info.order_service" class="form-control-sm" @change="handleShippingFee">
                        <option value>Danh sách dịch vụ Viettel-Post</option>
                        <option v-for="(service,index) in pricing_services_list" :key="index" :value="service">
                            {{service.TEN_DICHVU}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="product">
        <div class="option mb-3 d-flex justify-content-end">
            <div class="d-flex align-items-center" @click="handleShowNote()">
                <img class="mr-2" src="@/assets/note.png" alt="add note" />
                <p class="text-primary m-0">Thêm ghi chú</p>
            </div>
        </div>
        <div v-if="is_show_note">
            <textarea v-model="order_info.required_note" rows="3" class="form-control-sm"></textarea>
        </div>
        <hr>
        <p class="font-weight-bold text-right">Giá cước: {{order_info.shipping_fee|toCurrency}}</p>
        <div class="order border-top mt-3 mb-4">
            <button @click="handleShowOrderInfo" class="btn-pill w-100">Tạo đơn hàng</button>
        </div>
    </div>
    <InfoOrder :is_show_order_info="is_show_order_info" :handleCloseOrderInfo="handleCloseOrderInfo"
        :order_info="order_info" :createOrder="createOrder" :payload="payload" />
    <!-- Order -->

</div>