<div class="payment">
    <div>
        <hr>
        <p class="payment__title">Tạo thanh toán {{payload.payment_platform}}
        </p>
    </div>
    <div v-if="payload.payment_platform=='VNPAY'">
        <div class="form-row">
            <div class="col" :class="{'validate-failed-address':validate_failed.bank_vnpay}" style="margin-bottom:10px">
                <SearchBankVnpay :list_data_input="list_bank_vnpay"
                    :placeholder="'Ngân hàng Cổng thanh toán VNPAY hỗ trợ'" @data_output="bank_vnpay=$event"
                    :prop_name="'name'" />
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <select class="form-control-sm" :class="{'validate-failed':validate_failed.order_type_vnpay}"
                    v-model="order_type_vnpay">
                    <option value="">Loại đơn hàng</option>
                    <option v-for="(type,index) in list_order_type_vnpay" :key="index" :value="type">{{type.name}}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="payment__checkout" v-if="payload.payment_platform=='ALEPAY'">
        <div class="form-row">
            <div class="col">
                <select class="form-control-sm" :class="{'validate-failed':validate_failed.checkout_type}"
                    v-model="checkout_type">
                    <option value="">Phương thức thanh toán</option>
                    <option :value="type" v-for="(type,ind) in list_type">{{type.name}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="payment__description">
        <div class="form-row">
            <div class="col">
                <textarea class="form-control-sm" :class="{'validate-failed':validate_failed.order_description}"
                    type="text" placeholder="Mô tả đơn hàng" v-model="order_description"></textarea>
            </div>
        </div>
    </div>
    <p class="font-weight-bold text-right">Thanh toán Gateway: {{prop_total_payment||0|toCurrency}}</p>
</div>